{% extends "stream/base.html" %}
{% load md2 %}
{% block content %}
{% for post in posts %}
<div class="card mb-3" style="box-shadow: 3px 3px 5px rgba(0,0,0,0.30);">
    <!-- Profile image, Name, Date Posted -->
   <div class="card-header" style="height: 80px; display: flex;">
    <img class="rounded-circle article-img" style="width: 55px; height: 55px; margin-top: -4px; margin-left: 0px;" src="{{ post.author.profileImage.url }}">
    <div style="display: flex; flex-direction: column; padding-top: -2px;">
    <!-- <a class="mr-3" style="text-decoration: none; font-size: 17px;" href="{% url "profile" post.author.id %}">{{ post.author }}</a> -->
    <!-- <a class="mr-3" style="text-decoration: none; font-size: 17px;" href="{% url "profile" post.author.id %}">{{ post.author }}</a> -->
    <!-- <a class="mr-3" style="text-decoration: none; font-size: 17px;" href="{% url 'profile' post.author.id %}">{{ post.author }}</a> -->
    <a class="mr-3" style="text-decoration: none; font-size: 17px;" href="{% url "user_profile" post.author.id %}">{{ post.author.displayName }}</a>

    <a class="mr-3" href="{% url 'post-detail' pk=post.id %}" style="text-decoration: none; color: grey; font-size: 13px">{{ post.published|timesince }} ago</a>
    </div>
   </div>
    <!-- Title and Description -->
   <div class="card-body">
      <h4 class="card-title">
        <a href="{% url 'post-detail' pk=post.id %}" style="text-decoration: none; color:black;">{{ post.title }}</a>
    </h4>
      <h6 style="margin-top: 14px;" class="card-subtitle text-muted">{{ post.description }}</h6>
   </div>
   <!-- Textual Content -->
   <div class="card-body" style="margin-top: -25px">
      <p class="card-text" style='text-align: justify;'>{{ post.content|markdown }}</p>
   </div>
    <!-- Image (if there is) -->
    {% if post.image %}
      <img style="margin: auto; width: 80%;" src="{{post.image.url}}" class="post-image" width="60%" height="60%"/><br>
    {% endif %}

   <!-- Comments -->
   {% if post.comments %}
   <ul class="list-group list-group-flush">
        {% for comment in post.comments.all|slice:":2" %}

            <li class="list-group-item">
                <div style="display: flex; flex-direction: row; margin-top: -6px; margin-bottom: -6px;">
                <img class="rounded-circle article-img" style="width: 45px; height: 45px; ;" src="{{ comment.author.profileImage.url }}">
                <div style="display: flex; flex-direction: column; padding-top: -2px;">
                <a class="mr-3" style="display: flex; text-decoration: none; font-size: 15px;" href="{% url "user_profile" comment.author.id %}">{{ comment.author }}</a>
                <div style="font-size: 15px">{{comment.comment}}</div>
                </div>
                <p style="margin-left: auto; color: grey; font-size: 11px">{{comment.published|timesince}} ago</p>
            </div>
            </li>

        {% endfor%}
   </ul>
   {% endif %}
   <div class="card-footer text-muted" style="text-align: center;">
    <a style="text-decorator" href="{%url 'post-comments' post.id%}">Comment</a>
   </div>
</div>
{% endfor %}
<div>
  <h1 style="color: light blue; font-size: 32px; text-align: center; text-decoration: underline;  border: 2px solid black; background-color: lightgray;">List of all the foreign posts:</h1>
  <br>
</div>
<div id="posts-container"></div>

        <script>
            fetch("https://social-distribution-8.herokuapp.com/api/posts/", {
            method: 'GET',
            headers: { 
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json'
            },
            })
            .then(response => response.json())
            .then(posts => {
            const postsContainer = document.getElementById('posts-container');

            posts.forEach(post => {
                const name = document.createElement('h2');
                name.textContent = post.author.displayName;
                name.style.textAlign = 'justify'; // Add style to content element
                name.style.backgroundColor = 'lightgrey';
                const date = document.createElement('h3');
                date.textContent = post.published;
                date.style.fontSize = '15px'; // Add style to title element
                const postDiv = document.createElement('div');
                const title = document.createElement('h3');
                title.textContent = post.title;
                title.style.fontSize = '20px'; // Add style to title element
                const content = document.createElement('h4');
                content.textContent = post.content;
                content.style.textAlign = 'justify'; // Add style to content element
                content.style.fontSize = '18px'; // Add style to title element

                postDiv.appendChild(name);
                postDiv.appendChild(date);
                postDiv.appendChild(title);
                postDiv.appendChild(content);

                const comment = document.createElement('h4');
                if (post.comments && post.comments.length > 0) {
                  const commentName = document.createElement('h3');
                  commentName.textContent = post.comments[0].author.displayName;
                  commentName.style.textAlign = 'justify'; // Add style to content element
                  commentName.style.fontSize = '15px'; // Add style to title element
                  commentName.style.backgroundColor = 'lightblue';

                  const commentContent = document.createElement('h3');
                  commentContent.textContent = post.comments[0].comment;
                  commentContent.style.textAlign = 'justify'; // Add style to content element
                  commentContent.style.fontSize = '13px'; // Add style to title element
                  commentContent.style.backgroundColor = 'lightblue';

                  const commentPublished = document.createElement('h3');
                  commentPublished.textContent = post.comments[0].published;
                  commentPublished.style.textAlign = 'justify'; // Add style to content element
                  commentPublished.style.fontSize = '10px'; // Add style to title element
                  commentPublished.style.backgroundColor = 'lightblue';

                  postDiv.appendChild(commentName);
                  postDiv.appendChild(commentContent);
                  postDiv.appendChild(commentPublished);


                }
                postDiv.style.boxShadow = '3px 3px 5px rgba(0,0,0,0.30)'; // Add style to postDiv element
                postDiv.style.marginBottom = '10px'; // Add style to postDiv element

                postsContainer.appendChild(postDiv);
            });
            });
        </script>
{% endblock content %}

