{% extends "stream/base-no-side-bar.html" %}

{% block content %}
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Request Type</th>
        <th scope="col">Summary</th>
      </tr>
    </thead>
    <tbody>
        <!-- inbox.html template -->
        <h1>{{user.username}}'s Inbox</h1>
        {% if summary %}
        <p>{{ summary }}</p>
        {% endif %}
        {% if username %}
        <p>{{ username }}</p>
        {% endif %}
    </tbody>
  </table>
{% endblock content %}
