{% extends "stream/base-no-side-bar.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.profileImage}}">
            <div class="media-body">
                <h2 class="account-heading"> {{ user.username}}'s Profile </h2>
                 <div class="d-flex justify-content-end">
                    <a href="{% url 'update' %}"><button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark">Edit Profile </button></a>
                    <br>
                    {% comment %} Once follow if clicked a friend request is sent {% endcomment %}
                    <form method="POST" action="{% url 'inbox' %}">
                     <input type="hidden" name="type" value="follow">
                    <input type="hidden" name="profile_id" value="{{user.profile.id}}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mx-2">Follow</button>
                    </form>                
                </div>
            </div>
        </div>
        {% if user.profile.posts%}
            {%for post in user.profile.posts %}
                <div class="alert alert-dark" role="alert">
                    {% if user.profile.post.image %}
                        <img src="{{user.profile.post.image.url}}" class="post-image"/>
                    {%else%}
                        {{user.profile.post}}
        {% endif %}

            </div><br/><br/>
            {%endfor%}
    {%endif%}
    </div>
{% endblock content %}